<html>
   <head>
        <title>Random Pairs</title>
        <script src="/js/randompair.js"></script>
        <link rel="stylesheet" type="text/css" href="css/styles.css">
   </head>
    <body background="images/noice.jpg" align="middle">
    


    </body>
</html>